doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title 404 peluquería canina Canessa Valdemoro &#128062; &#9989;
        meta(name='description', content='Página de error del website Peluquería canina Canessa. Pruebe otra URL o vaya a la página de inicio para encontrar la descripción de nuestros servicios y contacto.')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, peluqueria animal, peluqueria perros, peluqueria gatos, peluquería canina, peluquerías caninas, piensos, antiparasitarios, autolavado, mascotactiva')
        link(rel='canonical', href='https://peluqueriacanessa.com/404/' hreflang='es')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body.bg-paper
        //- ----------------------------------------------------------------
        //- 00. TOP NAV BAR "Sections & Contact"
        //- ----------------------------------------------------------------
        .navbar-top
            nav
                .nav-top
                    .row
                        //- "Navigation Page" :: LEFT NAV
                            .col.m5
                              ul.right.navSubSections.hide-on-med-and-down
                                li
                                  a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                                    | Our Expos
                                    i.fa.fa-caret-down
                                ul#dropdown1.dropdown-content
                                  li
                                    a(href='#autolavado') Past Exhibitions
                                li
                                  a.wineh(href='#autolavado', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                        //- "Logo" :: LEFT LOGO
                        .col.m3.brand-logo
                            img.fixed.small-one(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería canina Canessa', alt='Logotipo de la peluquería canina Canessa')
                        //- "Contact" :: RIGHT NAV
                        .col.m9.offset-m3
                            ul.right.navContact.hide-on-med-and-down
                                li
                                    a(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa') #{common.titles.index}
                                li
                                    a(href='servicios.html', title='Servicios ofrecidos por la peluquería canina Canessa de Valdemoro, Madrid') #{common.titles.services}
                                li
                                    a(href='peluqueria.html', title='Servicios de peluquería canina en la peluquería canina Canessa') #{common.titles.peluqueria}
                                li
                                    a(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional') #{common.titles.dogwash}
                                li
                                    a(href='mascotactiva.html', title='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa') #{common.titles.mascota}
                                li
                                    a.dropdown-button(href='#', data-activates='more-services', title='Ver más servicios de la peluquería canina Canessa de Valdemoro') #{common.titles.more}
                                    //- Dropdown Structure with more nav links
                                    ul#more-services.dropdown-content
                                        li
                                            a(href='antiparasitarios.html', title='Antiparasitarios y protección canina en la peluquería canina Canessa') #{common.titles.antiparasitarios}
                                        li
                                            a(href='piensos.html', title='Piensos y alimentación canina en la peluquería canina Canessa de Valdemoro') #{common.titles.food}
                                        li
                                            a(href='vanessavizcaya.html', title='Sobre la vida profesional de Vanessa Vizcaya en la peluquería canina Canessa') #{common.titles.aboutme}
                                        li
                                            a(href='instalaciones.html', title='Nuestras instalaciones de la peluquería canina Canessa de Valdemoro') #{common.titles.facilities}
                                        li
                                            a(href='contacto.html', title='Contacta con la peluquería canina Canessa de Valdemoro') #{common.titles.contact}
                                        li
                                            a.modal-trigger(href='#modal_schedule', title='Horario comercial de la peluquería canina Canessa') #{common.titles.schedule}
                                        li
                                            a(href='legal.html', title='Condiciones de uso del website de la peluquería canina Canessa') #{common.titles.legal}
                                        li
                                            a(href='sitemap.html', title='Mapa del sitio web de la peluquería canina Canessa') #{common.titles.sitemap}
        //- ----------------------------------------------------------------
        //- 01. 404 PAGE NOT FOUND :: 404 página no encontrada
        //- ----------------------------------------------------------------
        #not-found.row.scrollspy
          .col.s12.headerSection.container-with-pic
            img.artwork.bigger(src='img/404/404-dog.svg', title='Error 404: página no encontrada', alt='Error 404: página no encontrada')
            h1.center-align
              | #{not_found.title}
            h2.center-align.quotes
              i(aria-hidden='true').fa.fa-quote-left
              | !{not_found.why}
              i(aria-hidden='true').fa.fa-quote-right
        .container
          .section
            .row
              //- for each loop to load all copies in "locales" json file/s
              each suggest, i in not_found.suggestions
                .col.s12.m3 !{suggest}

        //- "created by" signature in all pages ending
        include includes/created_by

        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODAL dialog in MOBILE devices :: "SCHEDULE"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- All the SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
