doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title Autolavado peluquería canina Canessa Valdemoro &#128062; &#9989;
        meta(name='description', content='Ofrecemos un completo servicio de autolavado canino. Nosotros ponemos las instalaciones con bañera hidráulica, champú, expulsadores de aire y secadores así como toallas y asesoramiento profesional. 91 248 04 30')
        meta(name='keywords', content='peluqueria canina Valdemoro, autolavado, lavado perros, lavadero de perros, lavar perros, baño perro, spa canino, canessa, Valdemoro, Pinto, Ciempozuelos, Parla, peluqueria canina, estilista de perros, peluqueria canina servicios, peluquería canina, peluquerías caninas, peluqueria animal, peluqueria perros, peluqueria gatos, mascotactiva')
        link(rel='canonical', href='https://peluqueriacanessa.com/autolavado/' hreflang='es')
        link(rel='alternate', href='https://peluqueriacanessa.com/autolavado#!' hreflang='es')
        //- All (common) METATAGS in head tag
        include includes/metatags
        //- Structured Data:
        //- (Open Graph)
        include open-graph/og-autolavado
        //- (Schema)
        include schema/schema-autolavado

    body.bg-paper
        //- ----------------------------------------------------------------
        //- 00. TOP NAV BAR "Sections & Contact"
        //- ----------------------------------------------------------------
        .navbar-top
          nav
            .nav-top
              .row
                //- "Navigation Page" :: LEFT NAV
                    .col.m5
                      ul.right.navSubSections.hide-on-med-and-down
                        li
                          a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                            | Our Expos
                            i.fa.fa-caret-down
                        ul#dropdown1.dropdown-content
                          li
                            a(href='#autolavado') Past Exhibitions
                        li
                          a.wineh(href='#autolavado', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                //- "Logo" :: LEFT LOGO
                .col.m3.brand-logo
                  img.fixed.small-one(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería canina Canessa', alt='Logotipo de la peluquería canina Canessa')
                //- "Contact" :: RIGHT NAV
                .col.m9.offset-m3
                  ul.right.navContact.hide-on-med-and-down
                    li
                      a(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa') #{common.titles.index}
                    li
                      a(href='servicios.html', title='Servicios ofrecidos por la peluquería canina Canessa de Valdemoro, Madrid') #{common.titles.services}
                    li
                      a(href='peluqueria.html', title='Servicios de peluquería canina en la peluquería canina Canessa') #{common.titles.peluqueria}
                    li
                      a(href='piensos.html', title='Piensos y alimento canino en la peluquería canina Canessa') #{common.titles.food}
                    li                            
                      a(href='mascotactiva.html', title='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa') #{common.titles.mascota}
        //- ----------------------------------------------------------------
        //- 01. AUTOLAVADO
        //- ----------------------------------------------------------------
        #autolavado.row.scrollspy
            main
                .grid
                    //- (row 01) INTRO
                    //- ------------------------------------------------------
                    .grid__item.theme-fucsia
                      .grid__item-content
                        h1.grid__item-title.grid__item-title--small
                          i(aria-hidden='true').fa.fa-quote-left
                          | #{autolavado.intro.title}
                        p.grid__item-text
                          | !{autolavado.intro.paragraph}
                          i(aria-hidden='true').fa.fa-quote-right
                      //-
                        a.grid__item-link(href='tel:636515206', title='Teléfono de contacto de Mascotactiva en la peluquería canina Canessa')
                          | #{autolavado.intro.link}
                          i.fa.fa-arrow-right(aria-hidden="true")

                    .grid__item.grid__item--bg.theme-bg
                        .grid__item-img
                            img(src='img/peluqueria/baño-precorte-peluqueria-canina-canessa.jpg', title='Proceso de Autolavado en la peluquería canina Canessa', alt='Proceso de Autolavado en la peluquería canina Canessa')
                        .grid__item-content
                            h3.grid__item-subtitle
                                a.grid__item-link.btn.btn-anim(href='tel:912480430', title='Teléfono de reserva de Autolavado en la peluquería canina Canessa')
                                    | #{autolavado.intro.btn}

                    //- (row 02) BAÑERA HIDRÁULICA
                    //- ------------------------------------------------------
                    .grid__item.grid__item--bg.theme-bg
                        .grid__item-img
                            img(src='img/autolavado/vivog-hidraulico-autolavado-peluqueria-canina-canessa.jpg', title='Bañera hidráulica regulable en altura en la peluquería canina Canessa', alt='Bañera hidráulica regulable en altura en la peluquería canina Canessa')
                    //-
                        .grid__item-content
                            h3.grid__item-subtitle
                                a.grid__item-link.btn.btn-anim(href='mailto:rafa@mascotactiva.com', title='Email de contacto de Mascotactiva')
                                    | #{autolavado.bathpool.btn}

                    .grid__item.theme-fucsia
                        .grid__item-content
                            h2.grid__item-title.grid__item-title--small
                                i(aria-hidden='true').fa.fa-quote-left
                                | #{autolavado.bathpool.title}
                            p.grid__item-text
                                | !{autolavado.bathpool.paragraph}
                                i(aria-hidden='true').fa.fa-quote-right
                            a.grid__item-link(href='mailto:rafa@mascotactiva.com', title='Email de contacto de Mascotactiva')
                                | #{autolavado.bathpool.link}
                                i.fa.fa-arrow-right(aria-hidden="true")

                    //- (row 03) SECADO
                    //- ------------------------------------------------------
                    .grid__item.theme-fucsia
                        .grid__item-content
                            h2.grid__item-title.grid__item-title--small
                                i(aria-hidden='true').fa.fa-quote-left
                                | #{autolavado.dry.title}
                            p.grid__item-text
                                | !{autolavado.dry.paragraph}
                                i(aria-hidden='true').fa.fa-quote-right
                        //-
                            a.grid__item-link(href='https://www.youtube.com/channel/UC4LoDR63NJGdqS48_1FGReg/featured', title='Canal de Youtube de Mascotactiva', target='_blank')
                                | #{autolavado.dry.link}
                                i.fa.fa-arrow-right(aria-hidden="true")

                    .grid__item.grid__item--bg.theme-bg
                        .grid__item-img
                            img(src='img/autolavado/secador-tornado-autolavado-peluqueria-canina-canessa.jpg', title='Expulsador de aire Tornado de la peluquería canina Canessa', alt='Expulsador de aire Tornado de la peluquería canina Canessa')
                        .grid__item-content
                            h3.grid__item-subtitle
                                a.grid__item-link.btn.btn-anim(href='https://www.youtube.com/channel/UC4LoDR63NJGdqS48_1FGReg/featured', title='Canal de Youtube de Mascotactiva', target='_blank')
                                    | #{autolavado.dry.btn}

                    //- (row 04) ASISTENCIA PROFESIONAL
                    //- ------------------------------------------------------
                    .grid__item.grid__item--bg.theme-bg
                        .grid__item-img
                            img(src='img/autolavado/asistencia-profesional-autolavado-peluqueria-canina-canessa.jpg', title='Asistencia profesional en el Autolavado de la peluquería canina Canessa', alt='Asistencia profesional en el Autolavado de la peluquería canina Canessa')
                    //-
                        .grid__item-content
                            h3.grid__item-subtitle
                                a.grid__item-link.btn.btn-anim(href='tel:636515206', title='Teléfono de contacto de Mascotactiva en la peluquería canina Canessa')
                                    | #{autolavado.assistant.btn}

                    .grid__item.theme-fucsia
                        .grid__item-content
                            h2.grid__item-title.grid__item-title--small
                                i(aria-hidden='true').fa.fa-quote-left
                                | #{autolavado.assistant.title}
                            p.grid__item-text
                                | !{autolavado.assistant.paragraph}
                                i(aria-hidden='true').fa.fa-quote-right
                            a.grid__item-link(href='tel:636515206', title='Teléfono de contacto de Mascotactiva en la peluquería canina Canessa')
                                | #{autolavado.assistant.link}
                                i.fa.fa-arrow-right(aria-hidden="true")

        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
