doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title Peluquería canina Canessa Valdemoro &#128062; &#9989;
        meta(name='description', content='Peluquería canina Canessa ofrece cortes de pelo comerciales y de exposición así como arreglos y baños en Valdemoro. Siempre con el mínimo estrés y máximo cuidado para vuestras mascotas y en el mejor entorno. Servicio de autolavados al mejor precio y SPA canino. 91 248 04 30')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, pelu canina, estilista de perros, peluquería para perros, peluqueria perros, peluqueria canina servicios, peluquería canina, peluquerías caninas, peluqueria animal, peluqueria perros, peluqueria gatos, canessa, autolavado, lavado perros, lavadero de perros, spa canino, Parla, piensos, complementos, correas, lazos, collares, antiparasitarios')
        link(rel='canonical', href='https://peluqueriacanessa.com/' hreflang='es')
        link(rel='alternate', href='https://peluqueriacanessa.com/#!' hreflang='es')
        link(rel='alternate', href='https://peluqueriacanessa.com#!' hreflang='es')
        //- All (common) METATAGS in head tag
        include includes/metatags
        //- Structured Data:
        //- (Open Graph)
        include open-graph/og-index
        //- (Schema)
        include schema/schema-index
        
    body
        //- (01) VIDEO :: FullBackgroundVideo
        video#bgvid(poster='img/slider/afgano.jpg', title='Servicios ofrecidos en la peluquería canina Canessa de Valdemoro', playsinline='', autoplay='', muted='', loop='')
          //- WCAG general accessibility recommendation is that media such as background video play through only once.
          //- Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
          source(src='video/canessa-intro-2018-march.mp4', type='video/mp4')
        //- main Header + "call to action" BTNs
        .caption
          img.main-logotype(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería canina Canessa en Valdemoro', alt='Logotipo de la peluquería canina Canessa en Valdemoro')
          h1 #{index.slides.title}
          //- h5.intro #{index.slides.subtitle}
          .call-to-action
            a.btn.btn-anim(href='servicios.html', title='Servicios ofrecidos por la peluquería canina Canessa en Valdemoro') #{index.slides.btn_services}
            a.btn.btn-anim(href='peluqueria.html', title='Servicios de peluquería canina ofrecidos por la peluquería Canessa') #{index.slides.btn_pelu}
            a.btn.btn-anim(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional') #{index.slides.btn_auto}
            //- a.btn.btn-anim(href='piensos.html', title='Piensos y alimento canino en la peluquería canina Canessa') #{index.slides.btn_pienso}

        //- (02) Info Panel box to enable Promotions
        .info-box
            .info-box-text
                .info-box-text-img
                .info-box-text-copy
                    | !{antiparasitarios.advise}
            .info-box-link
                a.btn.btn-anim(href='antiparasitarios.html', title='Antiparasitarios y protección canina en la peluquería canina Canessa')
                    | #{antiparasitarios.cta}

        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact
        //- MODAL dialog :: "Cookies"
            include includes/modal_cookies

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
          
