doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title Peluquería canina Valdemoro | Canessa
        meta(name='description', content='Canessa ofrece servicios de peluquería y belleza canina y felina con cortes de pelo comerciales y de exposición. También se realizan arreglos y lavados. Tenemos tarifa especial para autolavados además de un SPA canino. 91 248 04 30')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, peluqueria canina servicios, peluquería canina, peluquerías caninas, peluqueria animal, peluqueria perros, peluqueria gatos, canessa, autolavado, lavado perros, lavadero de perros, spa canino, Parla, piensos, complementos, correas, lazos, collares, antiparasitarios')
        link(rel='canonical', href='https://peluqueriacanessa.com/')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body
        //- ----------------------------------------------------------------
        //- 01. SLIDER Full Page
        //- ----------------------------------------------------------------
        img.main-logotype(src='img/logos/canessa-logo.svg', title='#{index.logo.alt}', alt='#{index.logo.alt}')
        .slider.fullscreen
          ul.slides
            li.first
              img(src='img/slider/afgano.jpg', title='Afgano: Canessa peluquería canina', alt='Afgano: Canessa peluquería canina')
              .caption.left-align
                h1 #{index.slides.slide_01.title}
                h5.intro #{index.slides.slide_01.subtitles}
                a.btn.btn-anim(href='peluqueria.html', title='Servicios ofrecidos por la peluquería canina Canessa') #{index.slides.slide_01.btn}
            li
              img(src='img/slider/golden-under-water.jpg', title='Servicio de autolavado de la peluquería canina Canessa', alt='Servicio de autolavado de la peluquería canina Canessa')
              .caption.left-align
                h2 #{index.slides.slide_02.title}
                h5.intro #{index.slides.slide_02.subtitles}
                a.btn.btn-anim(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional') #{index.slides.slide_02.btn}
            li
              img(src='img/slider/entrada.jpg', title='Entrada y recibidor de la Canessa peluquería canina', alt='Entrada y recibidor de la Canessa peluquería canina')
              .caption.left-align.mycaption
                h2 #{index.slides.slide_03.title}
                h5.intro #{index.slides.slide_03.subtitles}
                a.btn.btn-anim(href='piensos.html', title='Piensos y alimento canino en la peluquería canina Canessa') #{index.slides.slide_03.btn}
            li
              img(src='img/slider/peluqueria.jpg', title='Zona de corte y baño de la Canessa peluquería canina', alt='Zona de corte y baño de la Canessa peluquería canina')
              .caption.left-align
                h2 !{index.slides.slide_04.title}
                h5.intro #{index.slides.slide_04.subtitles}
                a.btn.btn-anim(href='servicios-y-productos.html', title='Servicios ofrecidos por la peluquería canina Canessa') #{index.slides.slide_04.btn}

        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
