doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title Peluquería canina Canessa Valdemoro
        meta(name='description', content='Canessa ofrece servicios de peluquería y belleza canina y felina con cortes de pelo comerciales y de exposición. También se realizan arreglos y lavados. Tenemos tarifa especial para autolavados además de un SPA canino. 91 248 04 30')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, pelu canina, estilista de perros, peluquería para perros, peluqueria perros, peluqueria canina servicios, peluquería canina, peluquerías caninas, peluqueria animal, peluqueria perros, peluqueria gatos, canessa, autolavado, lavado perros, lavadero de perros, spa canino, Parla, piensos, complementos, correas, lazos, collares, antiparasitarios')
        link(rel='canonical', href='https://peluqueriacanessa.com/' hreflang='es')
        link(rel='alternate', href='https://peluqueriacanessa.com/#!' hreflang='es')
        link(rel='alternate', href='https://peluqueriacanessa.com#!' hreflang='es')
        //- All (common) METATAGS in head tag
        include includes/metatags
        
    body
        //- (1) VIDEO :: FullBackgroundVideo
        video#bgvid(poster='img/slider/afgano.jpg', title='Servicios ofrecidos en la peluquería canina Canessa de Valdemoro', playsinline='', autoplay='', muted='', loop='')
          //- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button
          //- source(src='http://thenewcode.com/assets/videos/polina.webm', type='video/webm')
          source(src='video/canessa-intro-web.mp4', type='video/mp4')
        //- main Header + "call to action" BTNs
        .caption
          img.main-logotype(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería canina Canessa en Valdemoro', alt='Logotipo de la peluquería canina Canessa en Valdemoro')
          h1 #{index.slides.title}
          //- h5.intro #{index.slides.subtitle}
          .call-to-action
            a.btn.btn-anim(href='peluqueria.html', title='Servicios ofrecidos por la peluquería canina Canessa') #{index.slides.btn_pelu}
            a.btn.btn-anim(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional') #{index.slides.btn_auto}
            a.btn.btn-anim(href='piensos.html', title='Piensos y alimento canino en la peluquería canina Canessa') #{index.slides.btn_pienso}

        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
          
