doctype html
html(lang='es')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
        title Canessa: Términos legales
        meta(name='description', content='Términos legales de uso del website de la peluquería caninca Canessa ofrece servicios de peluquería y belleza canina y felina con cortes de pelo comerciales y de exposición así como arreglos y lavados. Tenemos también SPA canino, autolavado, pienso, collares, arneses, jugetes y complementos.')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, peluqueria animal, peluqueria perros, peluqueria gatos, piensos, complementos, correas, lazos, collares, arnes, antiparasitarios, autolavado')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body.bg-paper
        //- (todo: remove this useless code) GRADIENT TOP
        include includes/gradient

        //- ----------------------------------------------------------------
        //- 00. TOP NAV BAR "Sections & Contact"
        //- ----------------------------------------------------------------
        .navbar-top
          nav
            .nav-top
              .row
                //- "Navigation Page" :: LEFT NAV
                    .col.m5
                      ul.right.navSubSections.hide-on-med-and-down
                        li
                          a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                            | Our Expos
                            i.fa.fa-caret-down
                        ul#dropdown1.dropdown-content
                          li
                            a(href='#expos') Concept
                          li
                            a(href='#past') Past Exhibitions
                          li
                            a(href='#future') Future Exhibitions
                        li
                          a.bottle(href='#expos', title='Go to Expositions section of Arts Club Madrid') Our Expos
                        li
                          a.wineh(href='#past', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                        li
                          a.cockt(href='#future', title='Go to Future Exhibitions section of Arts Club Madrid') Future Exhibitions
                        li
                          a.gastro(href='#commiss', title='Go to Art Commissioner section of Arts Club Madrid') Art Commissioner
                //- "Logo" :: LEFT LOGO
                #acm-navLogo.col.m3.brand-logo
                    img.fixed.small-one(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería caninca Canessa', alt='Logotipo de la peluquería caninca Canessa')
                //- "Contact" :: RIGHT NAV
                .col.m9.offset-m3
                    ul.right.navContact.hide-on-med-and-down
                        li
                          a.address(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa') #{common.titles.index}
                        li
                          a.address(href='gallery.html', title='Servicios ofrecidos por la peluquería canina Canessa') #{common.titles.services}
                        li
                          a.address(href='mascotactiva.html', title='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa') #{common.titles.mascota}
        .margTopForNav

        //- ----------------------------------------------------------------
        //- 01. LEGAL TERMS :: TÉRMINOS LEGALES
        //- ----------------------------------------------------------------
        #intro.row.scrollspy
          .col.s12.headerSection
            h3.center-align
              span #{legal.intro.title}

        .container
          .section
            .row
              .col.s12.textLeftSide
                  //- for each loop to load all copies in "locales" json file/s
                  each intro, i in legal.intro.copies
                    p.light #{intro}

        //- ----------------------------------------------------------------
        //- 02. LOPD :: LEY ORGÁNICA DE PROTECCIÓN DE DATOS
        //- ----------------------------------------------------------------
        #lopd.row.scrollspy
          .col.s12.headerSection
            h3.center-align
              span #{legal.lopd.title}

        .container
          .section
            .row
              .col.s12.textLeftSide
                  //- for each loop to load all copies in "locales" json file/s
                  each lopd, i in legal.lopd.copies
                    p.light #{lopd}

        //- ----------------------------------------------------------------
        //- 03. COOKIES ADVISE :: USO DE COOKIES
        //- ----------------------------------------------------------------
        #cookies.row.scrollspy
          .col.s12.headerSection
            h3.center-align
              span #{legal.cookies.title}

        .container
          .section
            .row
              //- LEFT side
              .col.s12.m4.textLeftSide
                p.light Como desactivar las cookies en:
                  ul.browsers-list
                    li
                      i.fa.fa-internet-explorer(aria-hidden='true')
                      a(href='http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Internet Explorer') Internet Explorer
                    li
                      i.fa.fa-firefox(aria-hidden='true')
                      a(href='https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Firefox') Firefox
                    li
                      i.fa.fa-chrome(aria-hidden='true')
                      a(href='https://support.google.com/chrome/answer/95647?hl=es', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Chrome') Chrome
                    li
                      i.fa.fa-safari(aria-hidden='true')
                      a(href='http://www.apple.com/es/support/mac-apps/safari/', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Safari') Safari
                    li
                      i.fa.fa-opera(aria-hidden='true')
                      a(href='http://help.opera.com/Windows/11.50/es-ES/cookies.html', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Opera') Opera
              //- RIGHT side
              .col.s12.m8.collageImg
                  //- for each loop to load all copies in "locales" json file/s
                  each cookie, i in legal.cookies.copies
                    p.light #{cookie}

        //- ----------------------------------------------------------------
        //- 04. RESPONSABILITY :: RESPONSABILIDAD
        //- ----------------------------------------------------------------
        #responsibility.row.scrollspy
          .col.s12.headerSection
            h3.center-align
              span #{legal.responsibility.title}

        .container
          .section
            .row
              .col.s12.textLeftSide
                  //- for each loop to load all copies in "locales" json file/s
                  each responsibility, i in legal.responsibility.copies
                    p.light #{responsibility}

        //- ----------------------------------------------------------------
        //- 05. COPYRIGHT :: PROPIEDAD INTELECTUAL
        //- ----------------------------------------------------------------
        #copyright.row.scrollspy
          .col.s12.headerSection
            h3.center-align
              span #{legal.copyright.title}

        .container.botMarg100
          .section
            .row
              .col.s12.textLeftSide
                  //- for each loop to load all copies in "locales" json file/s
                  each copyright, i in legal.copyright.copies
                    p.light #{copyright}

        //- ----------------------------------------------------------------
        //- 06. PARALLAX Bottom "Section"
        //- ----------------------------------------------------------------
        //-
            .parallax-container.row
              .col.s6.m4.offset-custom.parallaxTextTab
                h5.topMarg50
                  span Services:
                ul.listOfItems
                  li
                    p
                      | DJ Sets, Música en Vivo, Audiovisuales, Fotografía & Video, PhotoCall, Fotomatón, Corners Gastronómicos, Cartas de Destilaods, Cursos de coctelería, Magos, Mimos, Performances, Aparcacoches, Servicio de Chófer.
              .parallax
                img(src='img/bg/acm_bg_artGallery.jpg')

        //- ----------------------------------------------------------------
        //- 00. MAIN (Footer) NAV BAR
        //- ----------------------------------------------------------------
        .navbar-fixed
          nav
            .nav-wrapper
              //- <a href="#!" class="brand-logo">Logo</a>
              a#mobile-bars.button-collapse(href='#', data-activates='mobile-demo', title='mobile icon')
                i.fa.fa-bars
              //- LEFT SIDE FOOTER LINKS MENU
              ul.left.hide-on-med-and-down
                //- li
                  a.navbar-link(href='art-gallery.html', title='Servicios ofrecidos por la peluquería canina Canessa') Servicios
                li
                  a.navbar-link.copyright(href='#', title='Copyright de la peluquería canina Canessa') &copy; #{footer.copyright},
                    span.js-current-year
                li
                  a.navbar-link.terms(href='index.html', title='Condiciones de uso del website de la peluquería canina Canessa') #{common.titles.index}
                li
                  a.navbar-link.schedule.modal-trigger(href='#modal_schedule', title='Horario comercial de la peluquería canina Canessa') #{common.titles.schedule}
              //-
                li
                  a.navbar-link.jalofer(href='http://jalofernandez.com/', title='Website diseñado y desarrollado por jalofernandez.com', target="_blank") jalofernandez.com
              //- RIGHT SIDE FOOTER LINKS MENU
              ul.right
                li
                    a.navbar-link(href='https://www.facebook.com/Peluqueria-Canina-Canessa-113194982084561/', title='Facebook de la peluquería canina Canessa', target="_blank", rel="noopener noreferrer")
                        i.fa.fa-facebook
                li
                    a.navbar-link(href='https://www.instagram.com/peluqueriacanessa/', title='Instagram de la peluquería canina Canessa', target="_blank", rel="noopener noreferrer")
                        i.fa.fa-instagram
              //- MOBILE
              ul#mobile-demo.side-nav
                li
                  img(src='img/logos/canessa-logo.svg', alt='Logotipo de la peluquería canina Canessa')

                li.socialMobile
                    a.navbar-link(href='https://www.facebook.com/Peluqueria-Canina-Canessa-113194982084561/', title='Facebook de la peluquería canina Canessa', target="_blank", rel="noopener noreferrer")
                        i.fa.fa-facebook
                    a.navbar-link(href='https://www.instagram.com/peluqueriacanessa/', title='Instagram de la peluquería canina Canessa', target="_blank", rel="noopener noreferrer")
                        i.fa.fa-instagram
                li
                    a.navbar-link(href='tel:912480430', title='Llamar a la peluquería canina Canessa') #{common.phone}
                li
                    a.navbar-link.modal-trigger(href='#modal_schedule', title='Horario de la peluquería canina Canessa') #{common.titles.schedule}
                li
                    a.navbar-link(href='index.html', title='Términos y condiciones de uso del website de la peluquería canina Canessa') #{common.titles.index}
                li
                    a.navbar-link(href='gallery.html', title='Servicios ofrecidos por la peluquería canina Canessa') #{common.titles.services}
                li
                    a.navbar-link(href='mascotactiva.html', title='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa') #{common.titles.mascota}
                li.copyMobile
                    a.navbar-link(href='#', title='Copyright de la peluquería canina Canessa') &copy; #{footer.copy},
                        span.js-current-year
        //- CONTACT SubNAV in (common) Footer
        include includes/nav-contact

        //- MODAL dialog in DESKTOP devices :: "COMING SOON!"
        include includes/modal_coming-soon
        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
