doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title Términos legales peluquería canina Canessa Valdemoro &#128062; &#9989;
        meta(name='description', content='Términos legales de uso del website de la peluquería canina Canessa ofrece servicios de peluquería y belleza canina y felina con cortes de pelo comerciales y de exposición así como arreglos y lavados. Tenemos también SPA canino, autolavado, pienso, collares, arneses, jugetes y complementos.')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, peluqueria animal, peluqueria perros, peluqueria gatos, piensos, complementos, correas, lazos, collares, arnes, antiparasitarios, autolavado, mascotactiva')
        link(rel='canonical', href='https://peluqueriacanessa.com/legal/' hreflang='es')
        link(rel='alternate', href='https://peluqueriacanessa.com/legal#!' hreflang='es')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body.bg-paper
        //- ----------------------------------------------------------------
        //- 00. TOP NAV BAR "Sections & Contact"
        //- ----------------------------------------------------------------
        .navbar-top
          nav
            .nav-top
              .row
                //- "Navigation Page" :: LEFT NAV
                    .col.m5
                      ul.right.navSubSections.hide-on-med-and-down
                        li
                          a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                            | Our Expos
                            i.fa.fa-caret-down
                        ul#dropdown1.dropdown-content
                          li
                            a(href='#intro') Past Exhibitions
                        li
                          a.wineh(href='#intro', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                //- "Logo" :: LEFT LOGO
                .col.m3.brand-logo
                  img.fixed.small-one(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería canina Canessa', alt='Logotipo de la peluquería canina Canessa')
                //- "Contact" :: RIGHT NAV
                .col.m9.offset-m3
                  ul.right.navContact.hide-on-med-and-down
                    li
                        a(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa') #{common.titles.index}
                    li
                        a(href='servicios.html', title='Servicios ofrecidos por la peluquería canina Canessa de Valdemoro, Madrid') #{common.titles.services}
                    li
                        a(href='peluqueria.html', title='Servicios de peluquería canina en la peluquería canina Canessa') #{common.titles.peluqueria}
                    li
                        a(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional') #{common.titles.dogwash}
                    li
                        a(href='mascotactiva.html', title='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa') #{common.titles.mascota}
                    li
                        a.dropdown-button(href='#', data-activates='more-services', title='Ver más servicios de la peluquería canina Canessa de Valdemoro') #{common.titles.more}
                        //- Dropdown Structure with more nav links
                        ul#more-services.dropdown-content
                            li
                                a(href='antiparasitarios.html', title='Antiparasitarios y protección canina en la peluquería canina Canessa') #{common.titles.antiparasitarios}
                            li
                                a(href='piensos.html', title='Piensos y alimentación canina en la peluquería canina Canessa de Valdemoro') #{common.titles.food}
                            li
                                a(href='vanessavizcaya.html', title='Sobre la vida profesional de Vanessa Vizcaya en la peluquería canina Canessa') #{common.titles.aboutme}
                            li
                                a(href='instalaciones.html', title='Nuestras instalaciones de la peluquería canina Canessa de Valdemoro') #{common.titles.facilities}
                            li
                                a(href='contacto.html', title='Contacta con la peluquería canina Canessa de Valdemoro') #{common.titles.contact}
                            li
                                a.modal-trigger(href='#modal_schedule', title='Horario comercial de la peluquería canina Canessa') #{common.titles.schedule}
                            li
                                a(href='sitemap.html', title='Mapa del sitio web de la peluquería canina Canessa') #{common.titles.sitemap}
        //- ----------------------------------------------------------------
        //- 01. LEGAL TERMS :: Términos legales
        //- ----------------------------------------------------------------
        #intro.row.scrollspy
          .col.s12.headerSection
            img.artwork(src='img/legal/dog-judge.svg', title='Términos legales en Peluquería Canessa', alt='Términos legales en Peluquería Canessa')
            h1.center-align
                | #{legal.intro.title}

        .container
          .section
            .row
              .col.s12.paragraphs
                  //- for each loop to load all copies in "locales" json file/s
                  each intro, i in legal.intro.copies
                    p.light !{intro}

        //- ----------------------------------------------------------------
        //- 02. LOPD :: Ley Orgánica de Protección de Datos
        //- ----------------------------------------------------------------
        #lopd.row.scrollspy
          .col.s12.headerSection.headerSectionLegal
            h3.center-align
              span #{legal.lopd.title}

        .container
          .section
            .row
              .col.s12.paragraphs
                  //- for each loop to load all copies in "locales" json file/s
                  each lopd, i in legal.lopd.copies
                    p.light !{lopd}

        //- ----------------------------------------------------------------
        //- 03. COOKIES ADVISE :: Uso de Cookies
        //- ----------------------------------------------------------------
        #cookies.row.scrollspy
          .col.s12.headerSection.headerSectionLegal
            h3.center-align
              span #{legal.cookies.title}

        .container
          .section
            .row
              //- LEFT side
              .col.s12.m4.paragraphs
                p.light
                  | !{legal.cookies.disable}
                  ul.browsers-list
                    li
                      a(href='http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Internet Explorer')
                        i.fa.fa-internet-explorer(aria-hidden='true')
                        | Internet Explorer
                    li
                      a(href='https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Firefox')
                        i.fa.fa-firefox(aria-hidden='true')
                        | Firefox
                    li
                      a(href='https://support.google.com/chrome/answer/95647?hl=es', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Chrome')
                        i.fa.fa-chrome(aria-hidden='true')
                        | Chrome
                    li
                      a(href='http://www.apple.com/es/support/mac-apps/safari/', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Safari')
                        i.fa.fa-safari(aria-hidden='true')
                        | Safari
                    li
                      a(href='http://help.opera.com/Windows/11.50/es-ES/cookies.html', target='_blank', rel="noopener noreferrer", title='Como desactivar cookies en Opera')
                        i.fa.fa-opera(aria-hidden='true')
                        | Opera
              //- RIGHT side
              .col.s12.m8.collageImg
                  //- for each loop to load all copies in "locales" json file/s
                  each cookie, i in legal.cookies.copies
                    p.light !{cookie}

        //- ----------------------------------------------------------------
        //- 04. GOOGLE ANALYTICS :: Analítica de Google
        //- ----------------------------------------------------------------
        #analytics.row.scrollspy
            .col.s12.headerSection.headerSectionLegal
                h3.center-align
                    span #{legal.analytics.title}

        .container
            .section
                .row
                    .col.s12.paragraphs
                        //- for each loop to load all copies in "locales" json file/s
                        each analytic, i in legal.analytics.copies
                            p.light !{analytic}
        //- ----------------------------------------------------------------
        //- 05. RESPONSABILITY :: Responsabilidad
        //- ----------------------------------------------------------------
        #responsibility.row.scrollspy
          .col.s12.headerSection.headerSectionLegal
            h3.center-align
              span #{legal.responsibility.title}

        .container
          .section
            .row
              .col.s12.paragraphs
                  //- for each loop to load all copies in "locales" json file/s
                  each responsibility, i in legal.responsibility.copies
                    p.light !{responsibility}

        //- ----------------------------------------------------------------
        //- 06. COPYRIGHT :: Propiedad intelectual
        //- ----------------------------------------------------------------
        #copyright.row.scrollspy
          .col.s12.headerSection.headerSectionLegal
            h3.center-align
              span #{legal.copyright.title}

        .container.botMarg100
          .section
            .row
              .col.s12.paragraphs
                  //- for each loop to load all copies in "locales" json file/s
                  each copyright, i in legal.copyright.copies
                    p.light !{copyright}

        //- ----------------------------------------------------------------
        //- 07. PARALLAX Bottom "Section"
        //- ----------------------------------------------------------------
        //-
            .parallax-container.row
              .col.s6.m4.offset-custom.parallaxTextTab
                h5.topMarg50
                  span Services:
                ul.listOfItems
                  li
                    p
                      | DJ Sets, Música en Vivo, Audiovisuales, Fotografía & Video, PhotoCall, Fotomatón, Corners Gastronómicos, Cartas de Destilaods, Cursos de coctelería, Magos, Mimos, Performances, Aparcacoches, Servicio de Chófer.
              .parallax
                img(src='img/bg/acm_bg_artGallery.jpg')

        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
