doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title Mascotactiva peluquería canina Canessa Valdemoro &#128062; &#9989;
        meta(name='description', content='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa. Ofrecemos servicios de guardería canina, paseos relajantes, entrenamiento físico, adiestramiento y gestión emocional. 636 515 206')
        meta(name='keywords', content='peluqueria canina Valdemoro, mascotactiva, Pinto, Ciempozuelos, peluqueria canina, guardería canina, paseos relajantes, entrenamiento físico, adiestramiento, gestión emocional, peluqueria animal, peluqueria perros, autolavado, peluquería canina, peluquerías caninas, peluqueria gatos, piensos, Parla')
        link(rel='canonical', href='https://peluqueriacanessa.com/mascotactiva/' hreflang='es')
        link(rel='alternate', href='https://peluqueriacanessa.com/mascotactiva#!' hreflang='es')
        //- All (common) METATAGS in head tag
        include includes/metatags
        //- Structured Data:
        //- (Open Graph)
        include open-graph/og-mascotactiva
        //- (Schema)
        include schema/schema-mascotactiva

    body.bg-paper
        //- ----------------------------------------------------------------
        //- 00. TOP NAV BAR "Sections & Contact"
        //- ----------------------------------------------------------------
        .navbar-top
          nav
            .nav-top
              .row
                //- "Navigation Page" :: LEFT NAV
                    .col.m5
                      ul.right.navSubSections.hide-on-med-and-down
                        li
                          a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                            | Our Expos
                            i.fa.fa-caret-down
                        ul#dropdown1.dropdown-content
                          li
                            a(href='#mascotactiva') Past Exhibitions
                        li
                          a.wineh(href='#mascotactiva', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                //- "Logo" :: LEFT LOGO
                .col.m3.brand-logo
                  img.fixed.small-one(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería canina Canessa', alt='Logotipo de la peluquería canina Canessa')
                //- "Contact" :: RIGHT NAV
                .col.m9.offset-m3
                  ul.right.navContact.hide-on-med-and-down
                    li
                      a(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa') #{common.titles.index}
                    li
                      a(href='peluqueria.html', title='Servicios de peluquería canina en la peluquería canina Canessa') #{common.titles.peluqueria}
                    li
                      a(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional') #{common.titles.dogwash}
                    li
                      a(href='piensos.html', title='Piensos y alimento canino en la peluquería canina Canessa') #{common.titles.food}
        //- ----------------------------------------------------------------
        //- 01. SERVICES & FULL IMG GALLERY
        //- ----------------------------------------------------------------
        #mascotactiva.row.scrollspy
            .col.s12.headerSection
                h1.center-align
                    | #{mascotactiva.title}
                h2.center-align.quotes
                    i(aria-hidden='true').fa.fa-quote-left
                    | !{mascotactiva.intro}
                    i(aria-hidden='true').fa.fa-quote-right
        .container.container-mascotactiva
            .section
                .row
                  .col.s12.m12
                      a.btn.btn-anim.btn-mascotactiva(href='tel:636515206', title='Teléfono de contacto de Mascotactiva')
                          i.fa.fa-phone
                          | #{mascotactiva.phone}
                      a.btn.btn-anim.btn-mascotactiva(href='mailto:rafa@mascotactiva.com', title='Email de contacto de Mascotactiva')
                          i.fa.fa-envelope
                          | #{mascotactiva.email}
                      a.btn.btn-anim.btn-mascotactiva(href='https://www.youtube.com/channel/UC4LoDR63NJGdqS48_1FGReg/featured', title='Canal de Youtube de Mascotactiva', target='_blank')
                          i.fa.fa-youtube
                          | #{mascotactiva.youtube}
                .row
                    .col.s12.m6.l6.xl4
                        .card
                            .card-image
                                img(src='img/mascotactiva/mascotactiva-logo_small.png', title='Logotipo de Mascotactiva por Rafa Cros', alt='Logotipo de Mascotactiva por Rafa Cros')
                    .col.s12.m6.l6.xl8
                        .card
                            .video-container
                                iframe(width='560', height='315', src='https://www.youtube.com/embed/pjydkOMAPdw', frameborder='0', allowfullscreen='')
                                    
        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
