doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
        title Canessa: Mascotactiva
        meta(name='description', content='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa. Ofrecemos servicios de guardería canina, paseos relajantes, entrenamiento físico, adiestramiento y gestión emocional.')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, peluqueria animal, peluqueria perros, peluqueria gatos, piensos, complementos, correas, lazos, collares, antiparasitarios, autolavado, guardería canina, paseos relajantes, entrenamiento físico, adiestramiento, gestión emocional')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body.bg-paper
        //- (todo: remove this useless code) GRADIENT TOP
        include includes/gradient

        //- ----------------------------------------------------------------
        //- 00. TOP NAV BAR "Sections & Contact"
        //- ----------------------------------------------------------------
        .navbar-top
          nav
            .nav-top
              .row
                //- "Navigation Page" :: LEFT NAV
                    .col.m5
                      ul.right.navSubSections.hide-on-med-and-down
                        li
                          a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                            | Our Expos
                            i.fa.fa-caret-down
                        ul#dropdown1.dropdown-content
                          li
                            a(href='#expos') Concept
                          li
                            a(href='#past') Past Exhibitions
                          li
                            a(href='#future') Future Exhibitions
                        li
                          a.bottle(href='#expos', title='Go to Expositions section of Arts Club Madrid') Our Expos
                        li
                          a.wineh(href='#past', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                        li
                          a.cockt(href='#future', title='Go to Future Exhibitions section of Arts Club Madrid') Future Exhibitions
                        li
                          a.gastro(href='#commiss', title='Go to Art Commissioner section of Arts Club Madrid') Art Commissioner
                //- "Logo" :: LEFT LOGO
                #acm-navLogo.col.m3.brand-logo
                  img.fixed.small-one(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería caninca Canessa', alt='Logotipo de la peluquería caninca Canessa')
                //- "Contact" :: RIGHT NAV
                .col.m9.offset-m3
                  ul.right.navContact.hide-on-med-and-down
                    li
                      a.address(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa') #{common.titles.index}
                    li
                      a.address(href='gallery.html', title='Servicios ofrecidos por la peluquería canina Canessa en Valdemoro') #{common.titles.services}
                    li
                      a.address(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional') #{common.titles.dogwash}
        .margTopForNav
        //- ----------------------------------------------------------------
        //- 01. SERVICES & FULL IMG GALLERY
        //- ----------------------------------------------------------------
        #past.row.scrollspy
            .col.s12.m8.offset-m2.headerSection
                h3.center-align
                    span !{mascotactiva.title}
                p.introIcon
                    i.fa.fa-paw
                h5.center-align
                    | !{mascotactiva.intro}
        .container.container-gallery
            .section
                .row
                  .col.s12.m12
                      a.waves-effect.waves-light.btn.pink.lighten-1.btn-mascotactiva(href='tel:636515206', title='Teléfono de contacto de Mascotactiva')
                          i.fa.fa-phone
                          | #{mascotactiva.phone}
                      a.waves-effect.waves-light.btn.pink.lighten-1.btn-mascotactiva(href='mailto:rafa@mascotactiva.com', title='Email de contacto de Mascotactiva')
                          i.fa.fa-envelope
                          | #{mascotactiva.email}
                      a.waves-effect.waves-light.btn.pink.lighten-1.btn-mascotactiva(href='https://www.youtube.com/channel/UC4LoDR63NJGdqS48_1FGReg/featured', title='Canal de Youtube de Mascotactiva', target='_blank')
                          i.fa.fa-youtube
                          | #{mascotactiva.youtube}
                .row
                    .col.s12.m6.l6.xl4
                        .card
                            .card-image
                                img(src='img/mascotactiva/mascotactiva-logo_small.png', title='Corte de raza de Yorkshire', alt='Corte de raza de Yorkshire')
                    .col.s12.m6.l6.xl8
                        .card
                            .video-container
                                iframe(width='560', height='315', src='https://www.youtube.com/embed/pjydkOMAPdw', frameborder='0', allowfullscreen='')
                                    
        //- main NAVBAR (common) in all views
        include includes/navbar                            
        //- CONTACT SubNAV in (common) Footer
        include includes/nav-contact

        //- MODAL dialog in DESKTOP devices :: "COMING SOON!"gulp dev

        include includes/modal_coming-soon
        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
