doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title Mascotactiva peluquería canina Canessa Valdemoro &#128062; &#9989;
        meta(name='description', content='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa. Ofrecemos servicios de guardería canina, paseos relajantes, entrenamiento físico, adiestramiento y gestión emocional. 636 515 206')
        meta(name='keywords', content='peluqueria canina Valdemoro, mascotactiva, Pinto, Ciempozuelos, peluqueria canina, guardería canina, paseos relajantes, entrenamiento físico, adiestramiento, gestión emocional, peluqueria animal, peluqueria perros, autolavado, peluquería canina, peluquerías caninas, peluqueria gatos, piensos, Parla')
        link(rel='canonical', href='https://peluqueriacanessa.com/mascotactiva/' hreflang='es')
        link(rel='alternate', href='https://peluqueriacanessa.com/mascotactiva#!' hreflang='es')
        //- All (common) METATAGS in head tag
        include includes/metatags
        //- Structured Data:
        //- (Open Graph)
        include open-graph/og-mascotactiva
        //- (Schema)
        include schema/schema-mascotactiva

    body.bg-paper
        //- ----------------------------------------------------------------
        //- 00. TOP NAV BAR "Sections & Contact"
        //- ----------------------------------------------------------------
        .navbar-top
          nav
            .nav-top
              .row
                //- "Navigation Page" :: LEFT NAV
                    .col.m5
                      ul.right.navSubSections.hide-on-med-and-down
                        li
                          a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                            | Our Expos
                            i.fa.fa-caret-down
                        ul#dropdown1.dropdown-content
                          li
                            a(href='#mascotactiva') Past Exhibitions
                        li
                          a.wineh(href='#mascotactiva', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                //- "Logo" :: LEFT LOGO
                .col.m3.brand-logo
                  img.fixed.small-one(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería canina Canessa', alt='Logotipo de la peluquería canina Canessa')
                //- "Contact" :: RIGHT NAV
                .col.m9.offset-m3
                  ul.right.navContact.hide-on-med-and-down
                    li
                      a(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa') #{common.titles.index}
                    li
                      a(href='servicios.html', title='Servicios ofrecidos por la peluquería canina Canessa de Valdemoro, Madrid') #{common.titles.services}
                    li
                      a(href='peluqueria.html', title='Servicios de peluquería canina en la peluquería canina Canessa') #{common.titles.peluqueria}
                    li
                      a(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional') #{common.titles.dogwash}
                    li
                      a(href='piensos.html', title='Piensos y alimento canino en la peluquería canina Canessa') #{common.titles.food}
                        li
                            a.dropdown-button(href='#', data-activates='more-services', title='Ver más servicios de la peluquería canina Canessa de Valdemoro') #{common.titles.more}
                            //- Dropdown Structure with more nav links
                            ul#more-services.dropdown-content
                                li
                                    a(href='antiparasitarios.html', title='Antiparasitarios y protección canina en la peluquería canina Canessa') #{common.titles.antiparasitarios}
                                li
                                    a(href='vanessavizcaya.html', title='Sobre la vida profesional de Vanessa Vizcaya en la peluquería canina Canessa') #{common.titles.aboutme}
                                //-li
                                    a(href='instalaciones.html', title='Nuestras instalaciones de la peluquería canina Canessa de Valdemoro') #{common.titles.facilities}
                                li
                                    a(href='contacto.html', title='Contacta con la peluquería canina Canessa de Valdemoro') #{common.titles.contact}
                                li
                                    a.modal-trigger(href='#modal_schedule', title='Horario comercial de la peluquería canina Canessa') #{common.titles.schedule}
                                li
                                    a(href='legal.html', title='Condiciones de uso del website de la peluquería canina Canessa') #{common.titles.legal}
                                li
                                    a(href='sitemap.html', title='Mapa del sitio web de la peluquería canina Canessa') #{common.titles.sitemap}
        //- ----------------------------------------------------------------
        //- 01. MASCOTACTIVA por Rafa Cros
        //- ----------------------------------------------------------------
        #mascotactiva.row.scrollspy
            main
                .grid
                    //- (row 01) INTRO
                    //- ------------------------------------------------------
                    .grid__item.theme-mascotactiva
                      .grid__item-content
                        h1.grid__item-title.grid__item-title--small
                          i(aria-hidden='true').fa.fa-quote-left
                          | #{mascotactiva.intro.title}
                        p.grid__item-text
                          | !{mascotactiva.intro.paragraph}
                          i(aria-hidden='true').fa.fa-quote-right
                        a.grid__item-link(href='tel:636515206', title='Teléfono de contacto de Mascotactiva en la peluquería canina Canessa')
                          | #{mascotactiva.intro.link}
                          i.fa.fa-arrow-right(aria-hidden="true")

                    .grid__item.grid__item--bg.theme-bg.theme-mascotactiva
                        .grid__item-img
                            img(src='img/mascotactiva/mascotactiva-pastor-aleman-rafa-cros.jpg', title='Pastor alemán descansando tras un entrenamiento de Mascotactiva', alt='Pastor alemán descansando tras un entrenamiento de Mascotactiva')
                        .grid__item-content
                            h3.grid__item-subtitle
                                a.grid__item-link.btn.btn-anim(href='tel:636515206', title='Teléfono de contacto de Mascotactiva en la peluquería canina Canessa')
                                    | #{mascotactiva.intro.btn}

                    //- (row 02) PASEOS y ENTRENAMIENTOS
                    //- ------------------------------------------------------
                    .grid__item.grid__item--bg.theme-bg.theme-mascotactiva
                        .grid__item-img
                            img(src='img/mascotactiva/rafa-cros-mascotactiva-peluqueria-canina-canessa.jpg', title='Rafa Cros de Mascotactiva paseando perros', alt='Rafa Cros de Mascotactiva paseando perros')
                        .grid__item-content
                            h3.grid__item-subtitle
                                a.grid__item-link.btn.btn-anim(href='mailto:rafa@mascotactiva.com', title='Email de contacto de Mascotactiva')
                                    | #{mascotactiva.paseos.btn}

                    .grid__item.theme-mascotactiva
                        .grid__item-content
                            h2.grid__item-title.grid__item-title--small
                                i(aria-hidden='true').fa.fa-quote-left
                                | #{mascotactiva.paseos.title}
                            p.grid__item-text
                                | !{mascotactiva.paseos.paragraph}
                                i(aria-hidden='true').fa.fa-quote-right
                            a.grid__item-link(href='mailto:rafa@mascotactiva.com', title='Email de contacto de Mascotactiva')
                                | #{mascotactiva.paseos.link}
                                i.fa.fa-arrow-right(aria-hidden="true")

                    //- (row 03) GESTIÓN EMOCIONAL
                    //- ------------------------------------------------------
                    .grid__item.theme-mascotactiva
                        .grid__item-content
                            h2.grid__item-title.grid__item-title--small
                                i(aria-hidden='true').fa.fa-quote-left
                                | #{mascotactiva.emocional.title}
                            p.grid__item-text
                                | !{mascotactiva.emocional.paragraph}
                                i(aria-hidden='true').fa.fa-quote-right
                            a.grid__item-link(href='https://www.youtube.com/channel/UC4LoDR63NJGdqS48_1FGReg/featured', title='Canal de Youtube de Mascotactiva', target='_blank')
                                | #{mascotactiva.emocional.link}
                                i.fa.fa-arrow-right(aria-hidden="true")

                    .grid__item.grid__item--bg.theme-bg.theme-mascotactiva
                        .grid__item-img
                            img(src='img/mascotactiva/gestion-emocional-mascotactiva-peluqueria-canina-canessa.jpg', title='Gestión emocional para mascotas en Mascotactiva', alt='Gestión emocional para mascotas en Mascotactiva')
                        .grid__item-content
                            h3.grid__item-subtitle
                                a.grid__item-link.btn.btn-anim(href='https://www.youtube.com/channel/UC4LoDR63NJGdqS48_1FGReg/featured', title='Canal de Youtube de Mascotactiva', target='_blank')
                                    | #{mascotactiva.emocional.btn}

                    //- (row 04) GUARDERÍA CANINA
                    //- ------------------------------------------------------
                    .grid__item.grid__item--bg.theme-bg.theme-mascotactiva
                        .grid__item-img
                            img(src='img/mascotactiva/paseador-canino-mascotactiva-peluqueria-canina-canessa.jpg', title='Servicio de guardería canina por Rafa Cros de Mascotactiva', alt='Servicio de guardería canina por Rafa Cros de Mascotactiva')
                        .grid__item-content
                            h3.grid__item-subtitle
                                a.grid__item-link.btn.btn-anim(href='tel:636515206', title='Teléfono de contacto de Mascotactiva en la peluquería canina Canessa')
                                    | #{mascotactiva.guarderia.btn}

                    .grid__item.theme-mascotactiva
                        .grid__item-content
                            h2.grid__item-title.grid__item-title--small
                                i(aria-hidden='true').fa.fa-quote-left
                                | #{mascotactiva.guarderia.title}
                            p.grid__item-text
                                | !{mascotactiva.guarderia.paragraph}
                                i(aria-hidden='true').fa.fa-quote-right
                            a.grid__item-link(href='tel:636515206', title='Teléfono de contacto de Mascotactiva en la peluquería canina Canessa')
                                | #{mascotactiva.guarderia.link}
                                i.fa.fa-arrow-right(aria-hidden="true")
                                    
        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
