doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title Peluquería canina Valdemoro Canessa &#128062; &#9989;
        meta(name='description', content='Servicios de la Peluquería canina Canessa. Ofrecemos peluquería y belleza canina y felina con cortes de pelo comerciales y de exposición así como arreglos y lavados. Tarifa especial para autolavados además de un completo SPA canino. Tenemos pienso, collares, arneses, juguetes y complementos.')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, peluquería para perros, peluqueria canina servicios, peluquería canina, peluquerías caninas, peluqueria animal, peluqueria perros, peluqueria gatos, canessa, autolavado, Parla, mascotactiva')
        link(rel='canonical', href='https://peluqueriacanessa.com/peluqueria/' hreflang='es')
        link(rel='alternate', href='https://peluqueriacanessa.com/peluqueria#!' hreflang='es')
        //- All (common) METATAGS in head tag
        include includes/metatags
        //- Structured Data (Schema)
        include schema/schema-peluqueria

    body.bg-paper
        //- ----------------------------------------------------------------
        //- 00. TOP NAV BAR "Sections & Contact"
        //- ----------------------------------------------------------------
        .navbar-top
            nav
                .nav-top
                    .row
                        //- "Navigation Page" :: LEFT NAV
                            .col.m5
                              ul.right.navSubSections.hide-on-med-and-down
                                li
                                  a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                                    | Our Expos
                                    i.fa.fa-caret-down
                                ul#dropdown1.dropdown-content
                                  li
                                    a(href='#services') Past Exhibitions
                                li
                                  a.wineh(href='#services', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                        //- "Logo" :: LEFT LOGO
                        .col.m3.brand-logo
                            img.fixed.small-one(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería canina Canessa', alt='Logotipo de la peluquería canina Canessa')
                        //- "Contact" :: RIGHT NAV
                        .col.m9.offset-m3
                            ul.right.navContact.hide-on-med-and-down
                                li
                                    a(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa') #{common.titles.index}
                                li
                                    a(href='servicios.html', title='Servicios ofrecidos por la peluquería canina Canessa de Valdemoro, Madrid') #{common.titles.services}
                                li
                                    a(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional') #{common.titles.dogwash}
                                li
                                    a(href='mascotactiva.html', title='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa') #{common.titles.mascota}
                                li
                                    a(href='piensos.html', title='Piensos y alimento canino en la peluquería canina Canessa') #{common.titles.food}
                                li
                                    a.dropdown-button(href='#', data-activates='more-services', title='Ver más servicios de la peluquería canina Canessa de Valdemoro') #{common.titles.more}
                                    //- Dropdown Structure with more nav links
                                    ul#more-services.dropdown-content
                                        li
                                            a(href='antiparasitarios.html', title='Antiparasitarios y protección canina en la peluquería canina Canessa') #{common.titles.antiparasitarios}
                                        li
                                            a(href='vanessavizcaya.html', title='Sobre la vida profesional de Vanessa Vizcaya en la peluquería canina Canessa') #{common.titles.aboutme}
                                        li
                                            a(href='contacto.html', title='Contacta con la peluquería canina Canessa de Valdemoro') #{common.titles.contact}
                                        li
                                            a.modal-trigger(href='#modal_schedule', title='Horario comercial de la peluquería canina Canessa') #{common.titles.schedule}
                                        li
                                            a(href='legal.html', title='Condiciones de uso del website de la peluquería canina Canessa') #{common.titles.legal}
                                        li
                                            a(href='sitemap.html', title='Mapa del sitio web de la peluquería canina Canessa') #{common.titles.sitemap}
        //- ----------------------------------------------------------------
        //- 01. SERVICES & FULL IMG GALLERY
        //- ----------------------------------------------------------------
        //- TODO: to add a floating BTN to navigate to Gallery pics
            .fixed-action-btn
                a.btn.btn-floating.btn-large(href='', title='') Ir a Galería
        #doggies.scrollspy.body-container
            //- ------------------------------------------------------
            //- (Section 01) PELUQUERÍA services description
            //- ------------------------------------------------------
            main
                .grid
                    //- (row 01) INTRO
                    //- ------------------------------------------------------
                    .grid__item.grid__item--bg.theme-bg
                        .grid__item-img
                            img(src='img/peluqueria/yorkshire-en-mesa-de-corte.jpg', title='Yorkshire Terrier en la mesa de trabajo de la peluquería canina Canessa', alt='Yorkshire Terrier en la mesa de trabajo de la peluquería canina Canessa')
                    //-
                        .grid__item-content
                            h3.grid__item-subtitle
                                a.grid__item-link.btn.btn-anim(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional')
                                    | #{services.bath.btn}

                    .grid__item.theme-transparent
                        .grid__item-content
                            h2.grid__item-title.grid__item-title--small
                                i(aria-hidden='true').fa.fa-quote-left
                                | #{peluqueria.intro.title}
                            p.grid__item-text
                                | !{peluqueria.intro.paragraph}
                                i(aria-hidden='true').fa.fa-quote-right
                        //-
                            a.grid__item-link(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional')
                                | #{services.bath.link}
                                i.fa.fa-arrow-right(aria-hidden="true")

                    //- (row 02) Corte a TIJERA
                    //- ------------------------------------------------------
                    .grid__item.theme-blue
                      .grid__item-content
                        h2.grid__item-title.grid__item-title--small
                          i(aria-hidden='true').fa.fa-quote-left
                          | #{peluqueria.tijera.title}
                        p.grid__item-text
                          | !{peluqueria.tijera.paragraph}
                          i(aria-hidden='true').fa.fa-quote-right
                      //-
                        a.grid__item-link(href='piensos.html', title='Piensos y alimento canino en la peluquería canina Canessa')
                          | #{services.food.link}
                          i.fa.fa-arrow-right(aria-hidden="true")

                    .grid__item.grid__item--bg.theme-bg.theme-blue
                      .grid__item-img
                        img.hover-effect(src='img/peluqueria/corte-a-tijera-peluqueria-canina-canessa-02.jpg', title='Corte a tijera de mestizo en la peluquería canina Canessa', alt='Corte a tijera de mestizo en la peluquería canina Canessa')
                        img.hover-effect(src='img/peluqueria/corte-a-tijera-peluqueria-canina-canessa-01.jpg', title='Corte a tijera de mestizo en la peluquería canina Canessa', alt='Corte a tijera de mestizo en la peluquería canina Canessa')
                    //-
                      .grid__item-content
                        h3.grid__item-subtitle
                          a.grid__item-link.btn.btn-anim(href='piensos.html', title='Piensos y alimento canino en la peluquería canina Canessa')
                            | #{services.food.btn}

                    //- (row 03) Corte a MÁQUINA
                    //- ------------------------------------------------------
                    .grid__item.grid__item--bg.theme-bg
                      .grid__item-img
                        img.hover-effect(src='img/peluqueria/corte-a-maquina-peluqueria-canina-canessa-01.jpg', title='Corte a máquina de mestizo en la peluquería canina Canessa', alt='Corte a máquina de mestizo en la peluquería canina Canessa')
                        img.hover-effect(src='img/peluqueria/corte-a-maquina-peluqueria-canina-canessa-02.jpg', title='Corte a máquina de mestizo en la peluquería canina Canessa', alt='Corte a máquina de mestizo en la peluquería canina Canessa')
                    //-
                      .grid__item-content
                        h3.grid__item-subtitle
                          a.grid__item-link.btn.btn-anim(href='complementos.html', title='Collares, correas y otros complementos en la peluquería canina Canessa')
                            | #{services.props.btn}

                    .grid__item.theme-fucsia
                      .grid__item-content
                        h2.grid__item-title.grid__item-title--small
                          i(aria-hidden='true').fa.fa-quote-left
                          | #{peluqueria.maquina.title}
                        p.grid__item-text
                          | !{peluqueria.maquina.paragraph}
                          i(aria-hidden='true').fa.fa-quote-right
                      //-
                        a.grid__item-link(href='complementos.html', title='Collares, correas y otros complementos en la peluquería canina Canessa')
                          | #{services.props.link}
                          i.fa.fa-arrow-right(aria-hidden="true")

                    //- (row 04) BAÑO precorte
                    //- ------------------------------------------------------
                    .grid__item.theme-blue
                      .grid__item-content
                        h2.grid__item-title.grid__item-title--small
                          i(aria-hidden='true').fa.fa-quote-left
                          | #{peluqueria.bath.title}
                        p.grid__item-text
                          | !{peluqueria.bath.paragraph}
                          i(aria-hidden='true').fa.fa-quote-right
                      //-
                        a.grid__item-link(href='mascotactiva.html', title='Psicología y entrenamiento canino en la peluquería canina Canessa')
                          | #{services.mascotactiva.link}
                          i.fa.fa-arrow-right(aria-hidden="true")

                    .grid__item.grid__item--bg.theme-bg.theme-blue
                      .grid__item-img
                          img.hover-effect(src='img/peluqueria/baño-precorte-peluqueria-canina-canessa-02.jpg', title='Baño tras precorte en la peluquería canina Canessa', alt='Baño tras precorte en la peluquería canina Canessa')
                          img.hover-effect(src='img/peluqueria/baño-precorte-peluqueria-canina-canessa-01.jpg', title='Baño tras precorte en la peluquería canina Canessa', alt='Baño tras precorte en la peluquería canina Canessa')
                    //-
                      .grid__item-content
                        h3.grid__item-subtitle
                          a.grid__item-link.btn.btn-anim(href='mascotactiva.html', title='Psicología y entrenamiento canino en la peluquería canina Canessa')
                            | #{services.mascotactiva.btn}

                    //- (row 05) STRIPPING
                    //- ------------------------------------------------------
                    .grid__item.grid__item--bg.theme-bg
                      .grid__item-img
                        img(src='img/peluqueria/stripping-peluqueria-canina-canessa.jpg', title='Stripping a mestizo en la peluquería canina Canessa de Valdemoro', alt='Stripping a mestizo en la peluquería canina Canessa de Valdemoro')
                    //-
                      .grid__item-content
                        h3.grid__item-subtitle
                          a.grid__item-link.btn.btn-anim(href='canessa.html', title='Más sobre Vanessa Vizcaya, peluquera canina en la peluquería Canessa en Valdemoro')
                            | #{services.about.btn}

                    .grid__item.theme-transparent
                      .grid__item-content
                        h2.grid__item-title.grid__item-title--small
                          i(aria-hidden='true').fa.fa-quote-left
                          | #{peluqueria.stripping.title}
                        p.grid__item-text
                          | !{peluqueria.stripping.paragraph}
                          i(aria-hidden='true').fa.fa-quote-right
                      //-
                        a.grid__item-link(href='canessa.html', title='Más sobre Vanessa Vizcaya, peluquera canina en la peluquería Canessa en Valdemoro')
                          | #{services.about.link}
                          i.fa.fa-arrow-right(aria-hidden="true")

            //- ------------------------------------------------------
            //- (Section 02) DOGS PICS works samples gallery
            //- ------------------------------------------------------
            .container.container-services.container-doggies
                //- TODO: remove the following old gallery
                    .row
                        .col.s12.headerSection
                            h1.center-align
                                | #{doggies.title}
                            h2.center-align.quotes
                                i(aria-hidden='true').fa.fa-quote-left
                                | #{doggies.intro}
                                i(aria-hidden='true').fa.fa-quote-right
                    .row
                        .col.s12.m6.l4.xl3
                            .card
                                .card-image
                                    img(src='img/doggies/yorkshire-en-mesa-de-corte.jpg', title='Corte de raza de Yorkshire', alt='Corte de raza de Yorkshire')
                                    span.card-title Yorkshire terrier.
                        .col.s12.m6.l8.xl9
                            //- for each loop to load all copies in "locales" json file/s
                            each skill, i in doggies.skills
                                p.light !{skill}
                    .row
                        .col.s12.m6.l8.xl9
                          //- for each loop to load all copies in "locales" json file/s
                          each treatment, i in doggies.treatments
                              p.light !{treatment}
                        .col.s12.m6.l4.xl3
                            .card
                                .card-image
                                    img(src='img/doggies/bichon-maltes-06.jpg', title='Bichón Maltés en pleno deslane', alt='Bichón Maltés en pleno deslane')

                                    span.card-title Yorkshire terrier.

                .row.doggies-gallery
                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/peluqueria/perros/bichon-maltes-02-peluqueria-canina-canessa.jpg', title='Bichón Maltés en la peluquería canina Canessa de Valdemoro', alt='Bichón Maltés en la peluquería canina Canessa de Valdemoro')
                                img(src='img/peluqueria/perros/bichon-maltes-01-peluqueria-canina-canessa.jpg', title='Bichón Maltés en la peluquería canina Canessa de Valdemoro', alt='Bichón Maltés en la peluquería canina Canessa de Valdemoro')
                            .card-content
                                p Bichón maltés

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/peluqueria/perros/yorkshire-terrier-02-peluqueria-canina-canessa.jpg', title='Yorkshire Terrier en la peluquería canina Canessa de Valdemoro', alt='Yorkshire Terrier en la peluquería canina Canessa de Valdemoro')
                                img(src='img/peluqueria/perros/yorkshire-terrier-01-peluqueria-canina-canessa.jpg', title='Yorkshire Terrier en la peluquería canina Canessa de Valdemoro', alt='Yorkshire Terrier en la peluquería canina Canessa de Valdemoro')
                            .card-content
                                p Yorkshire Terrier

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/bichon-maltes.jpg', title='Corte de raza de Bichón Maltés', alt='Corte de raza de Bichón Maltés')
                                span.card-title Bichón maltés

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/perro-de-aguas-04.jpg', title='Perro de aguas recién cortado', alt='Perro de aguas recién cortado')
                                span.card-title Perro de aguas

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/perro-de-aguas-01.jpg', title='Perro de aguas en mesa de trabajo', alt='Perro de aguas en mesa de trabajo')
                                span.card-title Perro de aguas

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/perro-de-aguas-02.jpg', title='Perro de aguas en mesa de trabajo', alt='Perro de aguas en mesa de trabajo')
                                span.card-title Perro de aguas

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/shih-tzu-02.jpg', title='Shih Tzu a punto de recibir un señor corte', alt='Shih Tzu a punto de recibir un señor corte')
                                span.card-title Shih Tzu

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/shih-tzu-01.jpg', title='Shih Tzu con corte a tijera', alt='Shih Tzu con corte a tijera')
                                span.card-title Shih Tzu

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/yorkshire-01.jpg', title='Yorkshire y su corte de pelo de raza', alt='Yorkshire y su corte de pelo de raza')
                                span.card-title Yorkshire Terrier

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/yorkshire-02.jpg', title='Yorkshire y su corte de pelo de raza', alt='Yorkshire y su corte de pelo de raza')
                                span.card-title Yorkshire Terrier

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/mestizo.jpg', title='Proceso de corte a tijera de un mestizo muy peludo', alt='Proceso de corte a tijera de un mestizo muy peludo')
                                span.card-title Mestizo

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/showing-time.jpg', title='El baño sienta taaan bien...', alt='El baño sienta taaan bien...')
                                span.card-title Basset hound

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/bichon-maltes-09.jpg', title='Corte de raza de Bichón Maltés', alt='Corte de raza de Bichón Maltés')
                                span.card-title Bichón maltés

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/bichon-maltes-10.jpg', title='Corte de raza de Bichón Maltés', alt='Corte de raza de Bichón Maltés')
                                span.card-title Bichón maltés

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/bichon-habanero-01.jpg', title='Corte de raza de Bichón Habanero', alt='Corte de raza de Bichón Habanero')
                                span.card-title Bichón habanero

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/bichon-maltes-01.jpg', title='Corte de raza de Bichón Maltés', alt='Corte de raza de Bichón Maltés')
                                span.card-title Bichón maltés

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/schnauzer-01.jpg', title='Corte de raza de Schnauzer', alt='Corte de raza de Schnauzer')
                                span.card-title Schnauzer

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/schnauzer-02.jpg', title='Corte de raza de Schnauzer', alt='Corte de raza de Schnauzer')
                                span.card-title Schnauzer

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/caniche-a-tijera.jpg', title='Caniche tras un corte a tijera', alt='Caniche tras un corte a tijera')
                                span.card-title Caniche

                    .col.s12.m6.l4.xl3
                        .card
                            .card-image
                                img(src='img/doggies/caniche.jpg', title='Proceso de corte a tijera de un Caniche', alt='Proceso de corte a tijera de un Caniche')
                                span.card-title Caniche

        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
