doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title Canessa: Piensos y alimentación
        meta(name='description', content='Piensos y alimentación canina en la Peluquería canina Canessa. Nuestras marcas son Affinity y Advange tanto para perros mini, adultos, cachorros y en bolsas de distintos tamños.')
        meta(name='keywords', content='peluqueria canina Valdemoro, Pinto, Ciempozuelos, peluqueria canina, peluqueria animal, peluqueria perros, peluqueria gatos, piensos, complementos, correas, lazos, collares, antiparasitarios, autolavado')
        //- All (common) METATAGS in head tag
        include includes/metatags

    body.bg-paper
        //- ----------------------------------------------------------------
        //- 00. TOP NAV BAR "Sections & Contact"
        //- ----------------------------------------------------------------
        .navbar-top
            nav
                .nav-top
                    .row
                        //- "Navigation Page" :: LEFT NAV
                            .col.m5
                              ul.right.navSubSections.hide-on-med-and-down
                                li
                                  a.drinks.dropdown-button(href='#', data-activates='dropdown1', title='Drinks submenu of Arts Club Madrid')
                                    | Our Expos
                                    i.fa.fa-caret-down
                                ul#dropdown1.dropdown-content
                                  li
                                    a(href='#services') Past Exhibitions
                                li
                                  a.wineh(href='#services', title='Go to Past Exhibitions section of Arts Club Madrid') Past Exhibitions
                        //- "Logo" :: LEFT LOGO
                        .col.m3.brand-logo
                            img.fixed.small-one(src='img/logos/canessa-logo.svg', title='Logotipo de la peluquería caninca Canessa', alt='Logotipo de la peluquería caninca Canessa')
                        //- "Contact" :: RIGHT NAV
                        .col.m9.offset-m3
                            ul.right.navContact.hide-on-med-and-down
                                li
                                    a.address(href='index.html', title='Volver a la página de Inicio de la peluquería canina Canessa') #{common.titles.index}
                                li
                                    a.address(href='peluqueria.html', title='Servicios de peluquería canina en la peluquería canina Canessa') #{common.titles.peluqueria}
                                li
                                    a.address(href='autolavado.html', title='Servicio de autolavado canino con asesoramiento profesional') #{common.titles.dogwash}
                                li
                                    a.address(href='mascotactiva.html', title='Servicios de cuidado y entrenamiento canino en la peluquería canina Canessa') #{common.titles.mascota}
        //- ----------------------------------------------------------------
        //- 01. SERVICES & FULL IMG GALLERY
        //- ----------------------------------------------------------------
        #services.scrollspy.body-container
            //- filterable TABS section
            .row
                .col.s12.th-fixed
                    ul.tabs
                        li.tab.col.s12.m6
                            a.active(href='#advance')
                                | Advance
                        li.tab.col.s12.m6
                            a(href='#libra')
                                | Libra
                //- FOOD (pics gallery) :: "ADVANCE"
                #advance.col.s12
                    .container.container-services
                        .row
                            .col.s12.headerSection
                                h3.center-align
                                    span !{food.title}
                                h5.center-align
                                    em.quotes
                                        i(aria-hidden='true').fa.fa-quote-left
                                        | #{food.intro}
                                        i(aria-hidden='true').fa.fa-quote-right
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/advange-french-bulldog.png', title='Bolsa de pienso French Bulldog Adult de Advance', alt='Bolsa de pienso French Bulldog Adult de Advance')
                                    .card-content
                                        p #{food.advance.bulldog}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.twenty}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/advange-yorkshire-terrier.png', title='Bolsa de pienso Yorkshire Terrier Adult de Advance', alt='Bolsa de pienso Yorkshire Terrier Adult de Advance')
                                    .card-content
                                        p #{food.advance.yorkshire}
                                        p 
                                          span.food-weight !{food.weight.onehalf}
                                          span.badge.price #{food.price.thirteen}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/advange-puppy-mini.png', title='Bolsa de pienso cachorro Mini de hasta 10 meses de pollo y arroz de Advance', alt='Bolsa de pienso cachorro Mini de hasta 10 meses de pollo y arroz de Advance')
                                    .card-content
                                        p #{food.advance.puppymini}
                                        p 
                                          span.food-weight !{food.weight.almostone}
                                          span.badge.price #{food.price.four}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.twenty}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/advange-puppy-sensitive-salmon-rice.png', title='Bolsa de pienso sensitive para cachorros de hasta 12 meses de pollo y salmón de Advance', alt='Bolsa de pienso sensitive para cachorros de hasta 12 meses de pollo y salmón de Advance')
                                    .card-content
                                        p #{food.advance.puppysen}
                                        p 
                                          span.food-weight !{food.weight.almostone}
                                          span.badge.price #{food.price.five}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.twenty}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/advange-medium-7years.png', title='Bolsa de pienso Medium 7 años de pollo y salmón de Advance', alt='Bolsa de pienso Medium 7 años de pollo y salmón de Advance')
                                    .card-content
                                        p #{food.advance.seven}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.twenty}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/advange-medium-adult.png', title='Bolsa de pienso medium Adult de pollo con arroz de Advance', alt='Bolsa de pienso medium Adult de pollo con arroz de Advance')
                                    .card-content
                                        p #{food.advance.medadult}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.sixteen}
                                        p 
                                          span.food-weight !{food.weight.fifteen}
                                          span.badge.price #{food.price.fifty}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/advange-medium-light.png', title='Bolsa de pienso medium light de pollo y arroz de Advance', alt='Bolsa de pienso medium light de pollo y arroz de Advance')
                                    .card-content
                                        p #{food.advance.medlight}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/advange-mini-adult.png', title='Bolsa de pienso Mini Adult de pollo y arroz de Advance', alt='Bolsa de pienso Mini Adult de pollo y arroz de Advance')
                                    .card-content
                                        p #{food.advance.miniadult}
                                        p 
                                          span.food-weight !{food.weight.almostone}
                                          span.badge.price #{food.price.four}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.sixteen}
                                        p 
                                          span.food-weight !{food.weight.fifteen}
                                          span.badge.price #{food.price.thirtytwo}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/advange-mini-light.png', title='Bolsa de pienso Mini light de pollo y arroz de Advance', alt='Bolsa de pienso Mini light de pollo y arroz de Advance')
                                    .card-content
                                        p #{food.advance.minilight}
                                        p 
                                          span.food-weight !{food.weight.almostone}
                                          span.badge.price #{food.price.four}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.twenty}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/advange-mini-sensitive-salmon-rice.png', title='Bolsa de pienso Mini sensitive de pollo y salmón de Advance', alt='Bolsa de pienso Mini sensitive de pollo y salmón de Advance')
                                    .card-content
                                        p #{food.advance.minisen}
                //- FOOD (pics gallery) :: "AFFINITY"
                #libra.col.s12
                    .container.container-services
                        .row
                            .col.s12.headerSection
                                h3.center-align
                                    span !{food.title}
                                h5.center-align
                                    em.quotes
                                        i(aria-hidden='true').fa.fa-quote-left
                                        | #{food.intro}
                                        i(aria-hidden='true').fa.fa-quote-right
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/affinity-libra-adult-chicken.png', title='Libra de pollo para adultos de Affinity', alt='Libra de pollo para adultos de Affinity')
                                    .card-content
                                        p #{food.libra.chicken}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.six}
                                        p 
                                          span.food-weight !{food.weight.fifteen}
                                          span.badge.price #{food.price.twentyseven}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/affinity-libra-adult-lamb.png', title='Libra de cordero para adultos de Affinity', alt='Libra de cordero para adultos de Affinity')
                                    .card-content
                                        p #{food.libra.lamb}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.six}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/affinity-libra-puppy-pollo-arroz.png', title='Libra de pollo con arroz para cachorros de Affinity', alt='Libra de pollo con arroz para cachorros de Affinity')
                                    .card-content
                                        p #{food.libra.rice}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.seven}
                            .col.s12.m4.l4.xl3
                                .card
                                    .card-image
                                        img(src='img/food/affinity-libra-puppy-salmon.png', title='Libra de salmón para cachorros de Affinity', alt='Libra de salmón para cachorros de Affinity')
                                    .card-content
                                        p #{food.libra.salmon}
                                        p 
                                          span.food-weight !{food.weight.three}
                                          span.badge.price #{food.price.seven}

        //- main footer NAVBAR (common) in all views
        include includes/navbar

        //- MODAL dialog in DESKTOP devices :: "COMING SOON!"
        include includes/modal_coming-soon
        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
        include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
        include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
